.page-header {
    display: grid;
    grid-template-areas: 
      "logo regular-menu social-menu";
    row-gap: 1.5rem;
    justify-content: space-between;
    margin: 1rem 1.5rem;
    background-color: rgb(43, 42, 42);
    text-align: center;
  }
  .navbar .container-fluid
  {
    flex-wrap: wrap;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style-position:none
    justify-content:space-between;

  }