.page-header {
    display: grid;
    grid-template-areas: 
      "logo regular-menu social-menu";
    row-gap: 1.5rem;
    justify-content: space-between;
    margin: 1rem 1.5rem; 
    text-align: center;
  }
  .navbar .container-fluid
  {
    flex-wrap: wrap;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style-position:none
    justify-content:space-between;

  }
  .main-banner{
background-image: url('../images/main-banner.jpg');
background-size:cover;
display:flex;
justify-content:center;
align-items: center;
background-repeat: no-repeat;
height: 600px;

  }

  .main-banner h1 {
    color: rgb(207, 110, 14);
    text-align: top;
    font-family: cursive;
    display: flex;
    text
  }