body{
    background-color: bisque;
}
/*image container*/
.img-container,.img{
    display:flex;
    justify-content: center;
    align-self: center;
    height: 100vh;
    padding: 20px;
    flex-direction: column;
}

/*bear image*/
.img{
    width: 375px;
    height: auto;
    border-radius: 15%;
    background-color: pink;
    display:flex;
    justify-content:center;
    align-items:bottom center;
    margin-bottom:20px;
}
